# Proyecto Final Statistical Learning I: Parte 2

## Deployment, inferencia y predicción

In [201]:
import pandas as pd
import numpy as np
import sklearn as sk
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm
from sklearn.svm import SVC
from math import sqrt
from math import pi
from math import exp

In [214]:
# Importar función NaiveBayes como módulo
import NaiveBayesFunction

Carga de los modelos elegidos:

In [153]:
modelos = pd.read_csv(r'C:\Users\eddso\OneDrive\Maestría\Tareas Git Hub\tareas_data_science\bitacora.tsv', sep='\t',index_col = 0)
modelos_elegidos = modelos[modelos.index.isin([121,8,13,156])]
modelos_elegidos

,modelo,config_string,accuracy,f1_score,recall,precision,mse
8,SVC(kernel='linear'),C=1.0_kernel=linear,0.833333,0.769231,0.833333,0.714286,0.166667
13,<function naive_bayes at 0x000001B0FCEA95E0>,pdf=gaussian,0.847222,0.775510,0.791667,0.760000,0.152778
121,"DecisionTreeClassifier(max_depth=2000, max_fea...",criterion=gini_MaxDepth=2000_MaxFeatures=11_Ma...,0.875000,0.808511,0.791667,0.826087,0.125000
156,<function regLog_predict at 0x000001B0FDFADC10>,lr=0.001_batchsize=128_lambda=0.001_frontera=0.47,0.861111,0.772727,0.708333,0.850000,0.138889

In [154]:
DecisionTree = eval(modelos_elegidos.loc[121][0])
SVM = eval(modelos_elegidos.loc[8][0])
NB = modelos_elegidos.loc[13][0]
RegLog = modelos_elegidos.loc[156][0]

In [236]:
DecisionTree = eval(modelos_elegidos.loc[121][0])

import graphviz 
dot_data = tree.export_graphviz(DecisionTree, out_file=None) 
graph = graphviz.Source(dot_data) 
graph.render("DecisionTree")

<img src="https://github.com/eddson90/tareas_data_science/blob/main/plot_tree.PNG?raw=true" alt="alt text" width="500"/>

In [217]:
SVM

SVC(kernel='linear')

Observaciones de prueba

In [202]:
obs_datatest = np.array([[23.],[ 0.],[ 0.],[13.],[ 0.],[ 1.],[ 0.],[ 0.],[ 1.],[ 0.],[ 1.],[ 0.],[ 1.],[ 0.]])
obs_datatrain = np.array([[38.],[ 1.],[ 5.],[31.3875],[ 1.],[ 1.],[ 0.],[ 0.],[ 1.],[ 1.],[ 0.],[ 0.],[ 0.],[ 1.]])

In [219]:
obs_test = np.array([[14.5   ,  1.    ,  0.    , 14.4542,  1.    ,  0.    ,  1.    ,
         0.    ,  0.    ,  1.    ,  0.    ,  0.    ,  0.    ],
       [22.    ,  0.    ,  1.    , 55.    ,  1.    ,  1.    ,  0.    ,
         0.    ,  1.    ,  0.    ,  0.    ,  1.    ,  0.    ],
       [42.    ,  0.    ,  0.    ,  7.65  ,  0.    ,  1.    ,  0.    ,
         0.    ,  1.    ,  1.    ,  0.    ,  0.    ,  1.    ],
       [26.    ,  0.    ,  0.    , 10.5   ,  0.    ,  1.    ,  0.    ,
         0.    ,  1.    ,  0.    ,  1.    ,  0.    ,  1.    ],
       [33.    ,  1.    ,  1.    , 20.525 ,  0.    ,  1.    ,  0.    ,
         0.    ,  1.    ,  1.    ,  0.    ,  0.    ,  0.    ],
       [25.    ,  0.    ,  0.    ,  7.8958,  0.    ,  1.    ,  0.    ,
         0.    ,  1.    ,  1.    ,  0.    ,  0.    ,  1.    ],
       [48.    ,  1.    ,  0.    , 76.7292,  0.    ,  1.    ,  1.    ,
         0.    ,  0.    ,  0.    ,  0.    ,  1.    ,  0.    ],
       [19.    ,  0.    ,  0.    ,  7.65  ,  0.    ,  1.    ,  0.    ,
         0.    ,  1.    ,  1.    ,  0.    ,  0.    ,  1.    ],
       [22.    ,  0.    ,  0.    ,  7.25  ,  0.    ,  1.    ,  0.    ,
         0.    ,  1.    ,  1.    ,  0.    ,  0.    ,  1.    ],
       [28.    ,  0.    ,  0.    , 12.35  ,  1.    ,  1.    ,  0.    ,
         1.    ,  0.    ,  0.    ,  1.    ,  0.    ,  1.    ]])

In [226]:
obs_test = pd.DataFrame(obs_test)
obs_test.loc[1:1]

     0    1    2     3    4    5    6    7    8    9    10   11   12
1  22.0  0.0  1.0  55.0  1.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0